<div>
    <h2>Login</h2>
    <p class="message" *ngIf="message">{{message}}</p>
    <form (ngSubmit)="handleSubmit()">

        <label>Email: </label>
        <input type="email" name="email" [(ngModel)]="formData.email">

        <label>Contraseña: </label>
        <input type="password" name="password" [(ngModel)]="formData.password">

        <button type="submit">Login</button>
        <p class="register-link">
            No tienes una cuenta?
            <a routerLink="/register">Registrate</a>
        </p>
    </form>
</div>