<div class="home">

  <!-- Carrusel de fotos -->
  <section class="carousel" aria-label="Galería de platos">
    <div class="carousel-track">
      <div class="carousel-slide active">
        <img src="https://scontent.flim41-1.fna.fbcdn.net/v/t51.75761-15/478772903_17894334780157681_1137618465313194799_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFO3DLF3nWUCqWSy4HCU6j0fv9eF67AyEl-_14XrsDISTQlSSpQ2NibtFAn8B_aKFPwpUn4OITv-Ds6suP8C9hy&_nc_ohc=e7NGEfE-QuUQ7kNvwH5uifd&_nc_oc=AdkhMDppvwyfK3pl4HWOdox9yzXijBdoff3t0H5g8llXzJD4R1beBIELw1KJ4PljutA&_nc_zt=23&_nc_ht=scontent.flim41-1.fna&_nc_gid=PKMZUUn26ygnNN4ot2P66w&oh=00_AfieSqzv-twtjliVoW3r_A4i3yoU2AQYxpBEQQIK4ttDuQ&oe=6932AB7D" alt="meson">
      </div>
      
    </div>
    
    <div class="carousel-dots"></div>
  </section>

  <!-- Sección Nosotros con imagen al costado -->
  <section class="nosotros-layout">
    <div class="nosotros-image">
      <img src="https://scontent.flim41-1.fna.fbcdn.net/v/t51.75761-15/477314550_17894191728157681_1319744067566052914_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeG69eMP_qhov44Tq_HLbn2kih11unkVFueKHXW6eRUW5x-m6ptvPgO2Y-wx66Z8jkcfE1e-oi10tZxKj7DwjdmF&_nc_ohc=O1PyOBcs0h8Q7kNvwH4egvV&_nc_oc=Adl3E6cc5Q4YVSG-u9gCSQRng8DEEDEAkjd60Llq2GVAo-YO7ULgWBe71kmpXqGuuAk&_nc_zt=23&_nc_ht=scontent.flim41-1.fna&_nc_gid=ly2mjlM0a7gZsmZR7N_dqw&oh=00_AfhPK-JqRIu3-ER2Igk50HLKpBOCPfn6QvWxjD7qVeV0XA&oe=6932D5C7" alt="Nuestro restaurante">
    </div>
    <div class="nosotros-text">
      <h2>SOBRE NOSOTROS</h2>
      <p>
        En <strong>El Mesón del Desierto</strong> celebramos la riqueza gastronómica de Ica con un enfoque contemporáneo.
        Nuestra cocina fusiona ingredientes locales, técnicas ancestrales y una presentación moderna que cautiva los sentidos.
      </p>
    </div>
  </section>

  <!-- Título Productos centrado y en color naranja-amarillento -->
  <p class="productos-title">PRODUCTOS</p>

  <!-- Tu bloque Angular intacto (no modificar) -->
  <p *ngIf="error" class="error">{{error}}</p>
  <div *ngIf="!error">
    <app-productlist [products]="products" ></app-productlist>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="changePage($event)" ></app-pagination>
  </div>

</div>

